body{
    background-color: #EAF6F6;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    border-style: dotted none none;
    border-color: rgb(170, 167, 167);
    border-width: 10px;
    width: 5%;
}